type = "webpack"
account_id = "3bfabc4463c2c3c340f7301d22ed18c0"
webpack_config = "webpack.config.js"

[env.dev]
name = "serlo-dev"
zone_id = "cedde9a4ab2980cd92bfc3765dc2e475"
route = "*serlo-development.dev/*"
kv-namespaces = [
    { binding = "MAINTENANCE_KV", id = "d5f281b897f643b8824881cfe2a24dd2", preview_id = "d5f281b897f643b8824881cfe2a24dd2" },
    { binding = "PACKAGES_KV", id = "19f90dc8e6ff49cd8bc42f51346409be", preview_id = "19f90dc8e6ff49cd8bc42f51346409be" },
    { binding = "FRONTEND_CACHE_TYPES_KV", id = "802462c937f24f268bb523fa855ee4a1", preview_id = "802462c937f24f268bb523fa855ee4a1" },
]

[env.dev.vars]
API_ENDPOINT = "https://api.serlo-development.dev/graphql"
DOMAIN = "serlo-development.dev"
FRONTEND_DOMAIN = "frontend-git-staging.serlo.vercel.app"
FRONTEND_PROBABILITY = "0.50"
FRONTEND_ALLOWED_TYPES = '["Article", "Applet", "Course", "CoursePage", "Page", "TaxonomyTerm", "Video"]'
FRONTEND_PREPEND_LANGUAGE_CODE = "false"
ENABLE_BASIC_AUTH = "true"
REDIRECT_AUTHENTICATED_USERS_TO_LEGACY_BACKEND = "false"
ALLOW_AUTH_FROM_LOCALHOST = "true"

[env.staging]
name = "serlo-staging"
zone_id = "0067b08b108fbcf88ddaeaae4ac3d6ac"
route = "*serlo-staging.dev/*"
kv-namespaces = [
    { binding = "MAINTENANCE_KV", id = "3c3c25aba0b94b7e99f855f013f5b09c", preview_id = "3c3c25aba0b94b7e99f855f013f5b09c" },
    { binding = "PACKAGES_KV", id = "19f90dc8e6ff49cd8bc42f51346409be", preview_id = "19f90dc8e6ff49cd8bc42f51346409be" },
    { binding = "FRONTEND_CACHE_TYPES_KV", id = "a323aa5ec11a4940abe7fb5ab5d95a39", preview_id = "a323aa5ec11a4940abe7fb5ab5d95a39" },
]

[env.staging.vars]
API_ENDPOINT = "https://api.serlo-staging.dev/graphql"
DOMAIN = "serlo-staging.dev"
FRONTEND_DOMAIN = "frontend-git-staging.serlo.vercel.app"
FRONTEND_PROBABILITY = "0.50"
FRONTEND_ALLOWED_TYPES = '["Article", "Applet", "Course", "CoursePage", "Page", "TaxonomyTerm", "Video"]'
FRONTEND_PREPEND_LANGUAGE_CODE = "false"
ENABLE_BASIC_AUTH = "true"
REDIRECT_AUTHENTICATED_USERS_TO_LEGACY_BACKEND = "false"
ALLOW_AUTH_FROM_LOCALHOST = "true"

[env.production]
name = "serlo-production"
zone_id = "1a4afa776acb2e40c3c8a135248328ae"
route = "*serlo.org/*"
kv-namespaces = [
    { binding = "MAINTENANCE_KV", id = "b1f17ebbe39c4fd9b49d1368ce225faa" },
    { binding = "PACKAGES_KV", id = "19f90dc8e6ff49cd8bc42f51346409be" },
    { binding = "FRONTEND_CACHE_TYPES_KV", id = "fc4c18a77146456884675bd2776a8102" },
]

[env.production.vars]
API_ENDPOINT = "https://api.serlo.org/graphql"
DOMAIN = "serlo.org"
ENABLE_BASIC_AUTH = "false"
FRONTEND_DOMAIN = "frontend.serlo.org"
FRONTEND_PROBABILITY = "0.1"
FRONTEND_ALLOWED_TYPES = '["Article", "Applet", "Course", "CoursePage", "Page", "TaxonomyTerm", "Video"]'
FRONTEND_PREPEND_LANGUAGE_CODE = "false"
REDIRECT_AUTHENTICATED_USERS_TO_LEGACY_BACKEND = "true"
ALLOW_AUTH_FROM_LOCALHOST = "false"
