{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "pragma": "h"
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "jsxPragma": "h"
      }
    ]
  ]
}
